

.fondo{
    background-image: url(../img/pesos-lluvia-billetes-100jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(30%);
}